{extend name="superadmin@public/base"}
	{block name="style"}

	<link rel="stylesheet" type="text/css" href="__STATIC__/superadmin/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="__STATIC__/superadmin/css/media.css">
  

<!-- 插件 -->
<link rel="stylesheet" type="text/css" href="__STATIC__/cropavatar/css/cropper.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/cropavatar/css/main.css">
  <link rel="stylesheet" type="text/css" href="__STATIC__/umeditor/themes/default/css/umeditor.min.css">

<!-- 插件 -->
<style type="text/css">
  .imgupload{
    position: relative;
    top: -130px;
    left: -30px;
  }
  #img-upload-suss{width: 100px;}
</style>

	{/block}


	{block name="header"}

	{/block}


	{block name="cotent"}
  {include file="public/topnav"}
  <div class="content-Box">
  <div class="pull-left" style="width: 84%;">
  <form action="{:url('@superadmin/Article/article_save')}" method="post">
    <input type="hidden" name="id" value="{$data.0.id|default=''}">
 <div class="pull-left" style="width: 72%;margin-left: 100px;">
<label for="exampleInput">文章内容</label>
 <div class="from-group">
 <script style="width: 80%;"  id="editor" name="content" type="text/plain" ></script>
      </div> 
</div>

  <div class="pull-left" style="margin-top: 100px;">
    <div class="chanheight">
       <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
       <label for="exampleInputBT">文章标题</label>
    <input type="text" id="" name="title" class="form-control" placeholder="请输入文章标题" value="{$data.0.title|default=''}">

<label for="exampleInput">文章分类</label>
    <select id="category_id" name="category_id" class="form-control" placeholder="公司历史">
     {foreach Category_list as $val}
      <option value={$val.id|default=''}>{$val.title|default=''}</option>
      {/foreach}
    </select> 

     <label for="exampleInputEmail1">文章LOGO</label>
  <div style="height: 40px;"></div>
 
    <input type="text" name="cover_img" value="" class="" id="cover_img" readonly hidden="hidden">
<label for="exampleInput">文章描述</label>
    <input type="text" id="describe" name="describe" class="form-control" placeholder="请输入文章描述" value="{$data.0.describe|default=''}">
    <center><button id="addArticle" type="submit" name="" class="btn btn-default">文章发表</button></center>
</div>   </div>
</form>
<div class="imgupload">
{include file="public/imgup"}
</div>
 </div>
</div>
  {/block}


	{block name="footer"}{/block}



	{block name="script"}
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>


<script type="text/javascript" src="__STATIC__/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/umeditor/umeditor.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

// $('iframe').css('height', $(window).height() - $('.header').outerHeight() - $('.footer').outerHeight())
$('.list-inline').css('height', $(window).height() - $('.header').outerHeight() - $('.footer').outerHeight())


  $(".ul11").hide()
  $(".ul12").hide()
  $(".ul13").hide()
  $(".ul14").hide()


  $("#blog_1").click(function(){
  $(".ul11").fadeToggle();
  });
    $("#blog_2").click(function(){
  $(".ul12").fadeToggle();
  });
      $("#blog_3").click(function(){
  $(".ul13").fadeToggle();
  });
        $("#blog_4").click(function(){
  $(".ul14").fadeToggle();
  });
});
</script>


<script type="text/javascript">

$(document).ready(function(){
var editor = UM.getEditor('editor');
 editor.addListener("ready", function (){
// editor 准备好之后才可以使用
editor.setContent('{$data.0.content|default=''}');
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  var a=1;
$(".glyphicon-list").click(function(){
$("chanheight").css("height", "300px");
    // $(".info_1").slideToggle("info_1");
    $('.info_1').animate({width:'toggle'},350);
 });
});
</script>

<script type="text/javascript">
  $('#img-upload-suss').on('load',function(){
    var  src= $("#img-upload-suss")[0].src;
      // console.log(1,src);
    document.getElementById('cover_img').value=src;
    $("#img-upload-suss").attr("src",src);

  });


</script>
{/block}