<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>网站编辑后台页面</title>
{load href="__STATIC__/assets/css/bootstrap.min.css"}
{load href="__STATIC__/css/css.css"}
</head>
<style type="text/css">
.left{
	width: 200px;
	float: left;
}
.left ul{list-style: none;}
.right{
	float: left;

}
footer{margin-top:-10px;width:100%;background-color: #ffc0cb;padding: auto;}
</style>
	{block name="style"}{/block}
<body>
	<div class="header">
{include file="user@public/header" /}
{block name="header"}{/block}
</div>
<div id="body">
{include file="user@public/usertop" /}

<div class="comon container-fluid ">
<div class="left">{include file="user@public/nav" /}</div>

{block name="content"}{/block}

</div>
<div style="clear:both"></div>

</div>



</div>
{include file="user@public/footer" /}
</body>
{block name="script"}
<script type="__STATIC__/assets/js/jquery.min.js"></script>
<script type="__STATIC__/assets/js/bootstrap.min.js"></script>
{/block}
</html>
