<div class="list-inline">
		<ol class="breadcrumb">
		<li><a  href="{:url('@link/Websitelink/index')}" {eq name="nav" value="index"} class="text-muted" {/eq}>网站链接</a></li>
		<li><a  href="{:url('@link/Websitelink/add')}"   {eq name="nav" value="add"}  class="text-muted"   {/eq}}>增加链接</a></li>
		<li><a  href="{:url('@link/Websitelink/list')}"   {eq name="nav" value="list"}  class="text-muted"   {/eq}}>链接列表</a></li>
		<!-- <li><a  href="{:url('@index/category/edit')}"  {eq name="nav" value="edit"} class="text-muted" {/eq}>数据列表</a></li> -->
		{eq name="nav" value="detail"}<li><a class="text-muted">数据详情</a></li>{/eq}
		{eq name="nav" value="update"}<li><a class="text-muted">更新数据</a></li>{/eq}
	</ol>
	</div>


	<!--P 69-->