<style type="text/css">
header{background-color: #ededed; width: 1024px;margin: 0 auto;padding: 0;} 
header a{color: black;margin: 10px;line-height: 40px;font-size: 14px; }
header a:hover{color: white;}
header ul li{display: inline-block;}
header ul li img{ border-radius:50%;}
header ul{list-style: none;position: absolute;left: 75%; top: 0;}
</style>
<header>
	<a target="view_window" href="{:url('@index')}">浏览网站</a>

<div>
	<ul>
	
		<li><img style="width: 20px;" src="" alt=""><a></a></li>
		<li><a href="{:url('@user/user')}">返回控制台</a></li>
		<li><a href="{:url('@user/login/out')}">root</a></li>

<!-- 	<script type="text/javascript">window.location.href="../index"</script> -->

	</ul>

</div>

</header>