<style type="text/css">
header{background-color: #333;}
header a{color: white;margin: 10px;line-height: 40px;font-size: 14px; }
header a:hover{color: white;}
header ul li{display: inline-block;}
header ul li img{ border-radius:50%;}
header ul{list-style: none;position: absolute;left: 75%; top: 0;}
nav{display: inline-block;}
</style>
<header>
	<!-- <a href="{:url('index')}">首页</a> -->
{foreach Category_list as $vo}
	<nav>
		<a href="{:url('@index/index/categoryArticle',['id'=>$vo.id])}"><span>{$vo.title}</span></a>
		</nav>
{/foreach}
	<ul>
	{if !empty($Think.session.user)}
		<li><img style="width: 20px;" src="{if !empty($Think.session.user.head_img)}
		{else}
		__STATIC__/logo.png{/if}" alt="{$Think.session.user.nickname}"><a>{$Think.session.user.nickname}</a></li>
		<li><a href="{:url('@user/user/index')}">个人中心</a></li>
		<li><a href="{:url('@user/login/out')}">退出登录</a></li>
	{else/}
		<li><a href="{:url('@user/login')}">登录</a></li>
		<li><a href="{:url('@user/login/register')}">注册</a></li>

	<!-- <script type="text/javascript">window.location.href="../index"</script> -->
		{/if}
	</ul>

</div>

</header>